node_modules
*yarn-error.log
.idea/
package-lock.json
npm-debug.log
.DS_Store

tsconfig.tsbuildinfo

**/.env
*.js.map
*.js
!**/public/*.js
!**/injected-scripts/*.js
*.pem
**/cookiejar.txt
**/test-profiles/
!/docs/js/*.js
/scrapers/secretagent/.cache/

.tmp-upload
.plugins
.http-mitm-proxy
.sessions
.mitm-ca
.yalc
.eslintcache
/runner/scripts/external
/runner/sessions/
/build
