node_modules
*yarn-error.log
.idea/
package-lock.json
npm-debug.log
.DS_Store

tsconfig.tsbuildinfo

**/.env
*.js.map
*.js
!**/public/*.js
*.pem
**/cookiejar.txt
**/test-profiles/
/state-of-scraping/src/data/*.json
!/state-of-scraping/src/data
!/docs/js/*.js
/scrapers/secretagent/.http-mitm-proxy/
/scrapers/secretagent/.cache/
.plugins
