body {
  width: 100%;
  background-color: #eeeeee;
  background-clip: border-box;
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
}
th,
td {
  border: 1px solid #a4a5a6;
  vertical-align: top;
  padding: 5px 10px;
}
table {
  border-collapse: collapse;
  background: white;
}
.small {
  font-size:0.8em;
  font-weight: 100;
  color:#5a5a5a;
}
